name: SYSARCH-ACS CI (reusable)

on:
  workflow_call:
    inputs:
      edk2-ref:
        description: "edk2 ref/branch/tag to checkout"
        required: false
        type: string
        default: "edk2-stable202505"
      run-uefi:
        description: "Run UEFI builds"
        required: false
        type: boolean
        default: true
      run-baremetal:
        description: "Run Baremetal builds"
        required: false
        type: boolean
        default: true
      run-linux:
        description: "Run Linux ACS build"
        required: false
        type: boolean
        default: true
    secrets:
      dummy:
        required: false

jobs:
  #######################################################################
  # MATRIX: UEFI
  #######################################################################
  uefi:
    if: ${{ inputs.run-uefi }}
    name: UEFI • ${{ matrix.name }}
    runs-on: [self-hosted, linux, aarch64]
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: BSA ACPI
            arg: bsa
            outfile: Bsa.efi
            artifact: Bsa_acpi_target.efi
          - name: BSA DT
            arg: bsa_dt
            outfile: Bsa.efi
            artifact: Bsa_dt_target.efi
          - name: SBSA ACPI
            arg: sbsa
            outfile: Sbsa.efi
            artifact: Sbsa.efi
          - name: DRTM ACPI
            arg: drtm
            outfile: Drtm.efi
            artifact: Drtm_acpi_target.efi
          - name: MPAM ACPI
            arg: mpam
            outfile: Mpam.efi
            artifact: Mpam_acpi_target.efi
          - name: SBSA NIST
            arg: nist
            outfile: SbsaNist.efi
            artifact: Sbsa_Nist_acpi_target.efi
          - name: PC-BSA ACPI
            arg: pc_bsa
            outfile: PC_Bsa.efi
            artifact: PC_Bsa_acpi_target.efi
          - name: Unified ACPI
            arg: unified
            outfile: UnifiedAcs.efi
            artifact: unified.efi

    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y git build-essential nasm wget xz-utils

      - name: Checkout sysarch-acs repository
        uses: actions/checkout@v4
        with:
          path: 'edk2/ShellPkg/Application/sysarch-acs'

      - name: Clone edk2 and edk2-libc
        run: |
          git clone --recursive https://github.com/tianocore/edk2
          cd edk2
          git checkout "${{ inputs.edk2-ref }}"
          cd ..
          git clone https://github.com/tianocore/edk2-libc edk2/edk2-libc

      - name: Use manually built GCC 15.2.1
        run: |
          export PATH=$HOME/gcc-15.2.1-install/bin:$PATH
          echo "GCC version:" && gcc --version

      - name: Build ${{ matrix.name }} with GCC 15.2.1
        run: |
          export PATH=$HOME/gcc-15.2.1-install/bin:$PATH
          export GCC5_AARCH64_PREFIX=""
          cd edk2
          export PACKAGES_PATH=$PWD/edk2-libc
          source edksetup.sh
          make -C BaseTools/Source/C
          source ShellPkg/Application/sysarch-acs/tools/scripts/acsbuild.sh ${{ matrix.arg }}

      - name: Upload artifact (${{ matrix.artifact }})
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: edk2/Build/Shell/DEBUG_GCC/AARCH64/${{ matrix.outfile }}
          if-no-files-found: error

  #######################################################################
  # MATRIX: BAREMETAL
  #######################################################################
  baremetal:
    if: ${{ inputs.run-baremetal }}
    name: Baremetal • ${{ matrix.name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: BSA (RDN2)
            make_target: bsa
            out_relpath: bsa_build/output/bsa.bin
            artifact: Bsa_baremetal_RDN2.bin
          - name: SBSA (RDN2)
            make_target: sbsa
            out_relpath: sbsa_build/output/sbsa.bin
            artifact: Sbsa_baremetal_RDN2.bin
    steps:
      - uses: actions/checkout@v4

      - name: Clean build dir
        run: rm -rf build

      - name: Download Arm GCC cross-compiler (aarch64-elf)
        run: |
          mkdir -p /opt/cross
          cd /opt/cross
          wget https://developer.arm.com/-/media/Files/downloads/gnu/14.3.rel1/binrel/arm-gnu-toolchain-14.3.rel1-x86_64-aarch64-none-elf.tar.xz
          tar -xf arm-gnu-toolchain-14.3.rel1-x86_64-aarch64-none-elf.tar.xz

      - name: Compile ${{ matrix.name }}
        run: |
          export CROSS_COMPILE=/opt/cross/arm-gnu-toolchain-14.3.rel1-x86_64-aarch64-none-elf/bin/aarch64-none-elf-
          mkdir build
          cd build
          cmake ../ -G "Unix Makefiles" -DTARGET=RDN2
          make ${{ matrix.make_target }}

      - name: Upload ${{ matrix.artifact }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: build/${{ matrix.out_relpath }}
          if-no-files-found: error

  #######################################################################
  # MATRIX: LINUX
  #######################################################################
  linux:
    if: ${{ inputs.run-linux }}
    name: Linux • ${{ matrix.name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: BSA
            short: bsa
            ko: bsa_acs.ko
            app: bsa_app
          - name: SBSA
            short: sbsa
            ko: sbsa_acs.ko
            app: sbsa_app
          - name: PC-BSA
            short: pcbsa
            ko: pcbsa_acs.ko
            app: pcbsa_app
    steps:
      - uses: actions/checkout@v4

      - name: Download Linux ACS build script
        run: |
          cd ..
          wget https://gitlab.arm.com/linux-arm/linux-acs/-/raw/master/acs-drv/files/build.sh
          chmod +x build.sh

      - name: Build Linux ACS (then select ${{ matrix.name }})
        run: |
          cd ..
          ./build.sh
          mkdir -p "$GITHUB_WORKSPACE/linux-${{ matrix.short }}"
          cp build/${{ matrix.ko }}  "$GITHUB_WORKSPACE/linux-${{ matrix.short }}/"
          cp build/${{ matrix.app }} "$GITHUB_WORKSPACE/linux-${{ matrix.short }}/"

      - name: Upload ${{ matrix.name }} artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }} Kernel Module and App
          path: ${{ github.workspace }}/linux-${{ matrix.short }}/*
          if-no-files-found: error

